/*-------RESET-------*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


/*-------DEBUG-------*/
.debug{
    border: 1px dashed black;
  }


/*--------------------------HEADER-------------*/
.header-container{
    background-color: #0084fd;
    display: flex;
}

.logo-container{
    width: 80%;
    margin-left: 10px;
    margin-top: 5px;
}

ul{
    display: inline-block;
    color: white;
    margin-top: 10px;
}

li{
    display: inline-block;
    margin-left: 20px;
}

.burger-btn{
    display: none;
}



/*--------------MAIN----------------*/

/*-------HIGHLIGHTS-------*/
.highlights{
    margin-bottom: 85px;
}

.h1-highlights{
    color: #0084fd;
    font-style: bold;
    margin-top: 10px;
}

.p-highlights{
    color: #5a6e7f;
    margin-top: 15px;
    margin-bottom: 10px;
}

.highlights-btn{
    width: 210px;
    height: 40px;
    background-color: #0084fd;
    color: white;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

i{
    margin-top: 10px;
    color: #0084fd;
}

#phone{
    width: 195px;
    height: 270px;
    display: block;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card{
    width: 50%;
    border-radius: 15px;
    background-color: #b5ddff;
    margin-top: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/*-------PLANNING-------*/
.planning{
    background-color: #9792e4;
    text-align: center;
}

.text-container{
    width: 80%;
    margin: auto;
}

.app-developement-container{
    width: 80%;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h1-planning{
    color: white;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-planning{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p2-planning{
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 20px;
}

.circle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    background-color: #9792e4;
    margin-top: 20px;
    margin-bottom: 20px;
}

#planning1{
    width: 320px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 25px;
}

#planning2{
    width: 245px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 25px;
}
/*-------PARTNERS-------*/
.partners-text-container{
    width: 60%;
    margin: auto;
    text-align: center;
}

.partners-card{
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #9792e4;
    border-radius: 25px;
}

.h1-partners{
    color: #9792e4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-partners{
    margin-bottom: 20px;
    margin-top: 20px;
}
/*------BENEFITS-------*/
.benefits{
    background-color: #9792e4;
    text-align: center;
}

.benefits-card-container{
    width: 90%;
    margin: auto;
}
.benefits-card{
    width: 80%;
    margin: auto;
    border-radius: 25%;
    background-color: white;
}

/*--------------FOOTER----------------*/
/*------ABOUT US-------*/
.about-us-container{
    width: 80%;
    margin: auto;
}

.about-us-img{
    margin: auto;
    width: 80%;
}

/*------GET STARTED-------*/
.get-started{
    background-color: #9792e4;
    text-align: center;
}

.get-started-btn{
    display: block;
    margin: auto;
}

/*------LAST SECTION-------*/
.last-section{
    background-color: #333333;
    text-align: center;
}



/*-------------------------RESPONSIVE------------------------*/

/*-------------------TABLET----------------------*/
@media screen and (max-width: 810px) {
    /*HEADER*/
    .burger-btn{
        display: block;
    }

    .navbar{
        display: none;
    }

    /*HIGHLIGHTS*/
    .card{
        width: 30%;
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
    }
    
    .first-row{
        justify-content: center;
        display: flex;
    }

    #first-card{
        width: 50%;
    }

    /*BENEFITS*/
    .benefits-card-container{
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card{
        width: 40%;
    }

    /*ABOUT-US*/
    .about-us{
        display: flex;
    }
  }


/*-----------------------DESKTOP---------------------*/
@media screen and (min-width: 810px) {
    .first-row{
        display: flex;
    }

    .card-container{
        flex-wrap: wrap;
    }

    .card{
        width: 30%;
    }

    #phone{
        
    }

    #first-card{
        width: 50%;
        
    }

    /*PLANNING*/
    .planning{
        display: flex;
    }

    /*PARTNERS*/
    .partners-card{
        width: 90%;
    }

    .partners-text-container{
        width: 70%;
    }

    /*BENEFITS*/
    .benefits-card-container{
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card{
        width: 30%;
    }

  }

  /*----------------------MOBILE----------------------*/
  @media screen and (max-width: 375px) {

    /*HIGHLIGHTS*/
    .first-row{
        flex-direction: column;
    }
    .card-container{
        flex-direction: column;
    }

    .card, #first-card{
        width: 60%;
    }

    /*BENEFITS*/
    .benefits-card-container{
        flex-direction: column;
    }

    /*ABOUT-US*/
    .about-us{
        display: block;
    }
    
}